.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.demo {
  padding: 1em;
  position: absolute;
  left: 25%;
  right: 25%;
  top: 5%;
}

.demo > div:first-child {
  margin-bottom: 1em;
}

.demo .recharts-wrapper {
  margin-left: -150px;
}

.demo .recharts-text.recharts-cartesian-axis-tick-value {
  font-size: 10px;
}